extends ../layout/index

block content
    .py-5
        h1.text-center.text-5xl.my-5.font-extrabold.text-blue-800 Bienes
            span.font-normal Raíces
        h2.text-center.text-3xl.font-extrabold.text-blue-800= pagina

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores 
                    p.text-blue-800.font-bold.uppercase.text-xs.text-center.p-1= error.msg

        .mt-8.mx-auto.max-w-lg.border-2
            .py-8.px-6.shadow-md.rounded-lg(class="bg-white")
                form(method="POST" noValidate)
                    input(name="_csrf" value=csrfToken type="hidden")
                    div.mb-6
                        label.block.text-sm.uppercase.text-neutral-950.mb-1.font-bold(for="email") Correo Electrónico
                        input#email.w-full.py-2.px-3.placeholder-gray-400.rounded-lg.border-2(class="bg-input" placeholder="Correo Electrónico" name="email" type="email" value=user ? user.email : '')
                    div.mb-6
                        label.block.text-sm.uppercase.text-neutral-950.mb-1.font-bold.rounded-lg(for="password") Contraseña
                        input#password.w-full.py-2.px-3.placeholder-gray-400.rounded-lg.border-2(class="bg-input" placeholder="Contraseña" name="password" type="password")
                    input(class="w-full bg-orange-500 hover:bg-indigo-800 text-black hover:text-white font-bold py-3 cursor-pointer uppercase text-sm rounded-md transition-colors" type="submit" value="Iniciar Sesión")
                    .flex.items-center.justify-between.mt-5
                        a.text-blue-800.text-xs(href="/auth/registro") ¿Sin todavía? Crear Cuenta
                        a.text-blue-800.text-xs(href="/auth/olvide-password") ¿Olvide contraseña?
