extends ../layout/index

block content
    .py-5
        h1.text-center.text-5xl.my-5.font-extrabold.text-blue-800(class="font-sans md:font-serif") Bienes
            span.font-normal Raíces
        h2.text-center.text-3xl.font-extrabold.text-blue-800(class="font-sans md:font-serif")= pagina

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.text-red-700.font-bold.uppercase.text-xs.text-center.p-1= error.msg

        .mt-8.mx-auto.max-w-lg.border-2
            .py-8.px-6.shadow-md.rounded-lg(class="bg-white")
                form(method="POST" action="/auth/registro" noValidate)
                    input(name="_csrf" value=csrfToken type="hidden")
                    div(class="flex flex-wrap -mx-3")
                        div(class="w-full md:w-1/2 px-3 mb-6")
                            label.block.text-sm.uppercase.text-neutral-950.mb-1.font-bold(for="name") Nombre
                            input#name.w-full.py-2.px-3.placeholder-gray-700.rounded-lg.border-2(placeholder="Ingresa tu Nombre" class="bg-input" name="name" type="text" value=(usuario && usuario.name) ? usuario.name : '')
                        div(class="w-full md:w-1/2 px-3 mb-6")
                            label.block.text-sm.uppercase.text-neutral-950.mb-1.font-bold(for="lastname") Apellido
                            input#lastname.w-full.py-2.px-3.placeholder-gray-700.rounded-lg.border-2(placeholder="Ingresa tu Apellido" class="bg-input" name="lastname" type="text" value=(usuario && usuario.lastname) ? usuario.lastname : '')
                    div.mb-6
                        label.block.text-sm.uppercase.text-neutral-950.mb-1.font-bold(for="email") Correo Electrónico
                        input#email.w-full.py-2.px-3.placeholder-gray-700.rounded-lg.border-2(placeholder="Ingresa tu Correo Electrónico" class="bg-input" name="email" type="email" value=(usuario && usuario.email) ? usuario.email : '')
                    div.mb-6
                        label.block.text-sm.uppercase.text-neutral-950.mb-1.font-bold(for="password") Contraseña
                        input#password.w-full.py-2.px-3.placeholder-gray-700.rounded-lg.border-2(placeholder="Ingresa tu Contraseña" class="bg-input" name="password" type="password")
                    div.mb-6
                        label.block.text-sm.uppercase.text-neutral-950.mb-1.font-bold(for="repetir_password") Repetir contraseña
                        input#repetir_password.w-full.py-2.px-3.placeholder-gray-700.rounded-lg.border-2(placeholder="Repetite la contraseña" class="bg-input" name="repetir_password" type="password")
                    input(class="w-full bg-orange-500 hover:bg-indigo-800 transition-colors text-black hover:text-white font-bold py-3 cursor-pointer uppercase text-sm rounded-md" type="submit" value="Registro")
                    .flex.items-center.justify-between.mt-5
                        a.text-blue-800.text-xs(href="/auth/login") ¿Ya estás registrado? Iniciar Sesión
                        a.text-blue-800.text-xs(href="/auth/olvide-password") ¿Olvide contraseña?
