header.bg-orange-500.p-4
    .container.mx-auto.flex.justify-between.items-center
        .flex.items-center
            img(src="/img/ISOLOGO.png", width="30px", height="30px", style="margin-right: 15px;")
            h1.text-center.text-3xl.my-5.font-extrabold.text-blue-500(class="font-sans md:font-serif")
                | Bienes
                span.font-normal Raíces
        nav.my-5.text-sm.md.flex.md.items-center.gap-3.font-bold.text-white
            a(href="/mispropiedades" class="hover:bg-indigo-800 hover:text-white p-2 rounded-2xl hover:cursor-pointer transition-colors") Mis propiedades
            a(href="/" class="hover:bg-indigo-800 hover:text-white p-2 rounded-2xl hover:cursor-pointer transition-colors") Inicio
            form(action="/auth/cerrar-sesion" method="POST")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="submit" value="Cerrar sesión" class="bg-orange-500 p-2 rounded-2xl hover:cursor-pointer hover:bg-indigo-900 transition-colors")
