extends ../layout/index

block content
    .py-5
        h1.text-center.text-5xl.my-5.font-extrabold.text-blue-800(class="font-sans md:font-serif") Bienes
            span.font-normal Raíces
        h2.text-center.text-3xl.font-extrabold.text-blue-800(class="font-sans md:font-serif")= pagina

        .mt-8.mx-auto.max-w-lg.border-2
            .py-8.px-6.shadow-md.rounded-lg(class="bg-purple")
                if error
                    p.text-xl.font-bold.text-center.my-10.text-red-600= error
                else 
                    p.text-xl.font-bold.text-center.my-10.text-black= mensaje

                if confirm
                    .mx-auto.text-center.my-10
                        a(href="/auth/login" class="w-100 block text-center font-bold text-black hover:text-white my-10 uppercase text-sm px-5 py-3 bg-boton hover:bg-boton_2") Iniciar Sesión