doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raíces | #{title}
        link(rel="shortcut icon", href="/img/ISOLOGO.png", type="image/x-icon")
        link(rel="stylesheet", href="/css/app.css")
        block styles
    body.min-h-screen(class="bg-body")
        
        main(class="mx-auto container mt-10 px-2")
            block content
        block scripts